.trip_buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.trip_buttons button {
  width: 200px;
}

/* current trip tabs */
.ui-g-5 {
  vertical-align: middle;
}

.current_trip {
  background-color: #ebedf0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.description_current {
  word-wrap: break-word;
  width: 15em;
}

.id_deviceid_current {
  width: 8em;
  white-space: nowrap;
}

.dialog_buttons {
  display: flex;
  justify-content: center;
}
