.mat-form-field {
  font-size: 14px;
  flex-grow: 1;
  margin-left: 32px;
}

.mat-table {
  overflow: auto;
  width: 400px;
}

.mat-cell:nth-child(1){
  max-width: 50px;
}

.mat-header-cell:nth-child(1){
  max-width: 50px;
}

.mat-cell:nth-child(3){
  text-align: right;
}