<!-- if we dont have any devises configured -->
<label *ngIf = "noDevice === true; else display_table">No device configured.</label>
<!-- else -->
<ng-template #display_table>

<h1 mat-dialog-title>Delete Device</h1>

<div class="example-container mat-elevation-z8">
  <mat-table #table [dataSource]="dataSource">


    <!-- id Column -->
    <ng-container matColumnDef="position">
      <mat-header-cell *matHeaderCellDef> Id. </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
    </ng-container>

    <!-- serial Column -->
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef> Serial No </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.serialNo}} </mat-cell>
    </ng-container>

    <!-- button delete Colum -->
    <ng-container matColumnDef="actions">
    <mat-header-cell *matHeaderCellDef> Actions </mat-header-cell>
    <mat-cell *matCellDef = "let element"> <button mat-raised-button> Delete </button> </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div>
</ng-template>