/deep/ .ui-tabview-panel {
  padding: 0 !important;
}

.ui-g-5 {
  display: table-cell;
  vertical-align: middle;
}

.current_trip {
  background-color: #ebedf0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dialog_buttons {
  display: flex;
  justify-content: center;
}

.no_trip_message {
  display: flex;
  justify-content: center;
  font-size: 20px;
  background-color: #ff9e72;
}

.table_trips {

}

/deep/ .ui-datatable table{
  width: auto;
}
