<p-growl></p-growl>
<p-dialog header="Manage Trips" [visible]="display" [modal]="true" [dismissableMask]="true"
          (onHide)="closeDialog()">

  <p-tabView [activeIndex]="tabIndex">
    <p-tabPanel header="Current Trip" leftIcon="fa-plane">
      <div *ngIf="currentTrip; else noTripMessage">
        <div class="current_trip">
          <span class="ui-g-5 id_deviceid_current">TripId: {{currentTrip.tripId}}</span>
          <span class="ui-g-5 id_deviceid_current">DeviceId: {{currentTrip.deviceId}}</span>
          <span class="ui-g-5 description_current">{{currentTrip.description}}</span>
          <span class="ui-g-5">StartTime: {{currentTrip.startTime.toLocaleString()}}</span>
        </div>
        <br>
        <div class="dialog_buttons">
          <button type="button" pButton icon="fa fa-map"
                  label="Display Trip On Gmap" (click)="displayTrip(currentTrip)"></button>
          <button class="ui-button-warning" type="button" pButton icon="fa-hourglass-end"
                  (click)="endTrip(currentTrip.tripId)" label="End Trip"></button>
        </div>
      </div>
      <ng-template #noTripMessage>
        <span class="no_trip_message">No trip is currently in progress</span>
      </ng-template>
    </p-tabPanel>
    <p-tabPanel header="Ended Trips" leftIcon="fa-hourglass-end">
      <ng-template pTemplate="content">
        <div class="table_trips">
          <p-dataTable [immutable]="false" [value]="endedTrips" [rows]="5"
                       [paginator]="true">
            <p-column [style]="{width: '75px'}" field="deviceId" header="DeviceId"></p-column>
            <p-column [style]="{width: '75px'}" field="tripId" header="TripId"></p-column>
            <p-column field="description"
                      header="Description"></p-column>
            <p-column field="startTime" header="Start Time">
              <ng-template let-col let-trip="rowData" pTemplate="body">
                <span>{{dateToLocalString(trip[col.field])}}</span>
              </ng-template>
            </p-column>
            <p-column field="endTime" header="End Time">
              <ng-template let-col let-trip="rowData" pTemplate="body">
                <span>{{dateToLocalString(trip[col.field])}}</span>
              </ng-template>
            </p-column>
            <p-column [style]="{'text-align': 'center'}" header="Delete Trip">
              <ng-template let-trip="rowData" pTemplate="body">
                <button type="button" pButton icon="fa-ban" class="ui-button-danger"
                        (click)="deleteTrip(trip)"></button>
              </ng-template>
            </p-column>
            <p-column [style]="{'text-align': 'center'}" header="Display Trip">
              <ng-template let-trip="rowData" pTemplate="body">
                <button type="button" pButton icon="fa-map"
                        (click)="displayTrip(trip)"></button>
              </ng-template>
            </p-column>
          </p-dataTable>
        </div>
      </ng-template>
    </p-tabPanel>
  </p-tabView>
</p-dialog>
