<p-growl></p-growl>
<p-dialog header="Manage Trips" [visible]="displayTrips" [modal]="true" [dismissableMask]="true"
          (onHide)="closeDialog()">
  <div class="ui-widget" style="font-size: 2em; text-align:center">
    Finished Trips
    <i class="fa fa-hourglass-end" aria-hidden="true"></i>
  </div>
  <div class="table_trips">
    <p-dataTable [immutable]="false" [value]="endedTrips" [rows]="5"
                 [paginator]="true" [emptyMessage]=emptyMessage>
      <p-column [style]="{width: '75px'}" field="device.id" header="DeviceId"></p-column>
      <p-column [style]="{width: '75px'}" field="id" header="TripId"></p-column>
      <p-column field="description"
                header="Description"></p-column>
      <p-column field="startTime" header="Start Time">
        <ng-template let-col let-trip="rowData" pTemplate="body">
          <span>{{dateToLocalString(trip[col.field])}}</span>
        </ng-template>
      </p-column>
      <p-column field="endTime" header="End Time">
        <ng-template let-col let-trip="rowData" pTemplate="body">
          <span>{{dateToLocalString(trip[col.field])}}</span>
        </ng-template>
      </p-column>
      <p-column [style]="{'text-align': 'center'}" header="Delete Trip">
        <ng-template let-trip="rowData" pTemplate="body">
          <button type="button" pButton icon="fa-ban" class="ui-button-danger"
                  (click)="deleteTrip(trip)"></button>
        </ng-template>
      </p-column>
      <p-column [style]="{'text-align': 'center'}" header="Display Trip">
        <ng-template let-trip="rowData" pTemplate="body">
          <button type="button" pButton icon="fa-map"
                  (click)="displayTrip(trip)"></button>
        </ng-template>
      </p-column>
    </p-dataTable>
  </div>
</p-dialog>
