.mat-form-field {
    font-size: 14px;
    flex-grow: 1;
    margin-left: 32px;
  }
  
  .mat-table {
    overflow: auto;
    width: 500px;
  }
  
  .mat-cell:nth-child(1){
    max-width: 50px;
  }
  
  .mat-header-cell:nth-child(1){
    max-width: 50px;
  }
  
  .table_button{
    align-items: center;
    justify-content: space-around;
    margin-right: 5px;
  }