.device {
    border: 2px solid lightgray;
    margin: 1em;
    width: 15em;
    height: 5em;
    text-align: center;
    color: lightgray;
}
.device table {
    height: 100%;
    width: 100%;
}
.text {
    font-size: 2em;
    color: gray;
}
.buttons {
    text-align: right;
    font-size: .6em;
}
