<p-breadcrumb [model]="breadcrumb"></p-breadcrumb>
<p-growl></p-growl>

<h2>List of tracking devices.</h2>

<div class="ui-g">

  <!-- existing device template -->
  <div *ngFor="let g of devices" class="device">
      <table>
          <tr>
              <td class="text" click="openDevice(g.id)">
                  {{g.serialNo}}
              </td>
          </tr>
          <tr>
              <td class="buttons">
                  <button pButton *ngIf="g.lastTrip"
                    (click)="openTrip(g.id)"
                    type="button"
                    class="ui-button-info"
                    icon="fa-car"
                    iconPos="left"
                    label="Trip Info"></button>
                  <button pButton *ngIf="startEnabled(g)"
                    (click)="startTrip(g.id)"
                    type="button"
                    class="ui-button-success"
                    icon="fa-car"
                    iconPos="left"
                    label="Start Trip"></button>
                  <button pButton
                    (click)="removeDevice(g.id)"
                    type="button"
                    class="ui-button-danger"
                    icon="fa-trash">
                  </button>
              </td>
          </tr>
      </table>
  </div>

  <!-- new device -->
  <div class="device" (click)="showAddDeviceDialog = true; addDeviceSerial = null">
      <i class="fa fa-plus fa-5x" aria-hidden="true"></i>
  </div>

</div>

<p-dialog header="Add Device" [(visible)]="showAddDeviceDialog" [width]="600">
    <span class="ui-float-label">
        <input id="device-serial"
            type="text"
            style="width: 100%"
            pInputText
            [(ngModel)]="addDeviceSerial"/>
        <label for="device-serial">Device Serial</label>
    </span>
    <p-footer>
        <button pButton type="button" class="ui-button-info" icon="fa-ban"
            (click)="showAddDeviceDialog = false">
        </button>
        <button pButton type="button" class="ui-button-info" icon="fa-floppy-o"
            (click)="addDevice()">
        </button>
    </p-footer>
</p-dialog>
