<label *ngIf = "checkSize() === 0; else display_table" class = "mat-display-1">No trips are ready to be started.</label>

<ng-template #display_table>
  <div *ngIf="displayTable === true">
    <h1 mat-dialog-title>Start Trip</h1>

    <div class="example-container mat-elevation-z8">
      <mat-table #table [dataSource]="dataSource">


        <!-- id Column -->
        <ng-container matColumnDef="tripId">
          <mat-header-cell *matHeaderCellDef> TripId. </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.tripId}} </mat-cell>
        </ng-container>

        <!-- descriptions Column -->
        <ng-container matColumnDef="description">
          <mat-header-cell *matHeaderCellDef> Desctiption </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.description}} </mat-cell>
        </ng-container>

        <!-- device id Column -->
        <ng-container matColumnDef="deviceId">
          <mat-header-cell *matHeaderCellDef> Device id </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.deviceId}} </mat-cell>
        </ng-container>

        <!-- button delete Colum -->
        <ng-container matColumnDef="actions">
          <mat-header-cell *matHeaderCellDef></mat-header-cell>
          <mat-cell *matCellDef="let element">
            <button mat-raised-button clicked color="warn" (click)="startTrip(element)" > Start </button>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>
    </div>
  </div>
</ng-template>