li {
    display: inline-block;
    list-style-type: none;
}

.dialog_buttons button {
    width: 5em;
}

.dialog_buttons {
    padding-top: 1em;
    display: flex;
    justify-content: center;
}

.spinner {
  display: flex;
  justify-content: center;
}

.serialNo {
  word-wrap: break-word;
}

.device_in_trip {
  color: #F93030;
}

.device_available {
  color: #258B25;
}
