<p-breadcrumb [model]="breadcrumb"></p-breadcrumb>
<p-growl></p-growl>

<div *ngIf="trip">

    <h2>Information about trip {{trip.id}} on device {{trip.device.serialNo}}</h2>

    <p-gmap
        [options]="options"
        [overlays]="overlays"
        [style]="{'width':'100%','height':'320px'}"
        (onMapReady)="setGMap($event)"
        (onOverlayClick)="handleOverlayClick($event)"
    >
    </p-gmap>

    <h3>Trip Controls</h3>
    <button pButton *ngIf="trip.startTime === null"
        (click)="startTrip()"
        type="button"
        icon="fa-play"
        iconPos="left"
        label="Start Trip"></button>
    <button pButton *ngIf="trip.startTime !== null && trip.endTime === null"
        (click)="stopTrip()"
        type="button"
        icon="fa-stop"
        iconPos="left"
        label="Stop Trip"></button>

    <h3>Trip Configuration</h3>
    <div>
        <!-- if startTime == null - trip configuration must be editable, otherwise - readonly -->
        {{tripConfigs}}
    </div>

</div><!-- has trip -->
