.description_text_area {
    width: 100%;
}

.steps_buttons {
    float: middle;
    display: flex;
    justify-content: center;
}

.final_step {
    margin: 10px 0;
    align-items: center;
}

.steps_buttons button{
    width: 100px;
    margin-left: 20px;
}

.select_device {
    width: 350px;
}