<p-growl></p-growl>
<p-dialog header="Create Trip" [visible]="true" [modal]="true" [dismissableMask]="true"
          [responsive]="true"
          (onHide)="closeDialog()">
  <div class="ui-widget">Description</div>
  <textarea [rows]="1" [cols]="35" pInputTextarea autoResize="autoResize" maxlength="100"
            [(ngModel)]="tripDescription"></textarea>
  <div class="ui-widget">Temperature:</div>
  {{'min:' + rangeTemperatureValues[0] + ' max:' + rangeTemperatureValues[1]}}
  <p-slider [(ngModel)]="rangeTemperatureValues" [animate]="true" [range]="true" [min]="-20"
            [max]="45"></p-slider>
  <br>
  <div class="ui-widget">Humidity:</div>
  {{'min:' + rangeHumidityValues[0] + '% max:' + rangeHumidityValues[1] + '%'}}
  <p-slider [(ngModel)]="rangeHumidityValues" [range]="true" [animate]="true" [min]="10"
            [max]="100"></p-slider>
  <p-footer>
    <button type="button" pButton icon="fa-check" (click)="createTrip()"
            label="Create and Start Trip"></button>
    <button type="button" pButton icon="fa-close" (click)="closeDialog()" label="Close"
            class="ui-button-danger"></button>
  </p-footer>
</p-dialog>
